.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e40cc3;
  color: white;
}
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

}
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #7e7c7c;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
.footer p {
  margin: 0;
}
.content {
  min-height: 60vh;
  width: 90%;
  margin: 0;
  padding: 4rem 2rem;
  
  
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.search {
  display:flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.search input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e40cc3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}